<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url}}/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url}}/components/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="{{url}}/components/aos/dist/aos.css">
    <link rel="stylesheet" href="{{url}}/components/lightbox2/dist/css/lightbox.min.css">
    <link rel="stylesheet" href="{{url}}/components/nanogallery/dist/css/nanogallery.min.css">
    <link rel="stylesheet" href="{{url}}/css/main.css">
    <link href="https://unpkg.com/nanogallery2@2.4.2/dist/css/nanogallery2.min.css" rel="stylesheet" type="text/css">

    <title>Archihub</title>

    
    <script src="{{url}}/components/jquery/dist/jquery.min.js"></script>
    <script src"{{url}}/components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        {{{body}}}
    </div>
    <script src="{{url}}/js/sweetalert.min.js"></script>
    <script src="{{url}}/components/aos/dist/aos.js"></script>
    <script>

        AOS.init(
            {
                delay: 200
            }
        );
    </script>

</body>

</html>